.image-uploader__avatar {
    position: relative;
}

.image-uploader__add-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0; bottom: 0;
    right: 0; left: 0;
    font-size: 4rem;
    cursor: pointer;
    background: transparent;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}

.image-uploader__add-link:hover {
    background: rgba(0, 0, 0, 0.3);
}